<section class="footer container-fluid">
    <div class="row ProName">
        <div class="col-md-10"><span><b>L</b>earn Point</span><sup> &copy;</sup></div>
        <div class="col-md-2 twty">Learn Point 2020</div>
    </div>
</section>
<section class="footerCnt container-fluid">
    <div class="row">
        <div class="col-md-4">
            <fa-icon [icon]="faFacebookSquare"></fa-icon>
            <fa-icon [icon]="faGoogle"></fa-icon>
            <fa-icon [icon]="faLinkedinIn"></fa-icon>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores rerum, molestiae quidem vitae ab blanditiis recusandae officiis consequatur. Animi similique aliquid omnis obcaecati, numquam quibusdam quas soluta architecto pariatur inventore.</p>
            <button type="button" class="UBtn">Get Started</button>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <h6>Payment Via</h6>
                    <ul>
                        <li>from Client</li>
                        <li>Issue reloved in time</li>
                        <li>tension solving</li>
                      </ul>
                </div>
                <div class="col-md-4">
                    <h6>Agrement</h6>
                    <ul>
                        <li>One day agremenrt</li>
                        <li>Montly paid course</li>
                        <li>VIP courses</li>
                      </ul>
                </div>
                <div class="col-md-4">
                    <h6>Team</h6>
                    <ul>
                        <li>Technical Team</li>
                        <li>Management</li>
                        <li>Testing role</li>
                      </ul>
                </div>
                <div class="col-md-4">
                    <h6>About us</h6>
                    <ul>
                        <li>Jagan Unitrix</li>
                        <li>Software Developer</li>
                        <li>Unity is our goal</li>
                      </ul>
                </div>
                <div class="col-md-4">
                    <h6>Contact</h6>
                    <ul>
                        <li>Jagan Ramanikanth</li>
                        <li>+91 894 041 7854</li>
                        <li>Chennai</li>
                      </ul>
                </div>
                <div class="col-md-4">
                    <h6>Forum</h6>
                    <ul>
                        <li>User/Student</li>
                        <li>Intructor</li>
                        <li>Public (learnPoint)</li>
                      </ul>
                </div>
            </div>
        </div>
        
    </div>
</section>

<section class="copy container-fluid">
    <div class="row">
        <div class="col-md-4">Terms & Condition | Privary policy</div>
        <div class="col-md-8"></div>
    </div>

</section>