<nav class="fixed-top navbar-light">
    <div class="row" style="line-height: 3.6rem;padding: 0 10px;">
        <div class="col-6 col-md-2">
            <span class="logo" routerLink="/"><b>L</b>earn Point</span>
        </div>
       <div class="col-md-3"></div>
       <div class="col-md-4"></div>
       
        <div class="col-6 col-md-3">
            <div class="row">
                <div class="col-6 text-right" routerLink="/signIn" style="padding-right: 0px;">
                    <button type="button" class="sign">Sign In</button>
                </div>
                <div class="col-6" routerLink="/signUp">
                    <button type="button" class="sign">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</nav>