@import "../../../styles.scss";

.signCard {
  padding: 3vw;
  height: 100vh;
  background-color: $appColor;
}
.logo {
  width: 12vw;
  padding: 1vw;
  color: $white !important;
  z-index: 1;
  position: absolute;
}
.signUpBtn {
  cursor: pointer;
  &:hover {
    text-shadow: 2px 1px 4px #636161;
  }
}
.signUp {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 12px;
  bottom: 0;
}
.second {
  background-color: $white;
  position: relative;
  padding: 0px;
  border-radius: 4px;
}
.container {
  position: absolute;
  top: 50%;
  padding: 0px 4vw;
  transform: translateY(-50%);
}
.create {
  margin: 0px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
}
.quick {
  margin: 0px;
  padding-bottom: 20px;
  font-size: 12px;
  text-align: center;
}
.input-group-text,
.form-control {
  background-color: $white;
  color: #adb5bd;
  border-width: 0.5px;
}
input:placeholder-shown {
  font-size: 1em;
  color: $placeholderColor;
  font-weight: $fontW300;
}
