<app-header></app-header>
<section class="main container-fluid">
    <div class="content">
    <div class="row">
        <div class="col-12  col-md-5">
            <div class="middle">
                <h1>Perfect Live Stream learning Platform</h1>
                <p class="def">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti debitis cum aspernatur iste sint commodi deserunt necessitatibus ab quasi vel veniam distinctio porro totam assumenda, quo expedita eligendi laborum. Unde?</p>
                <p>amet consectetur adipisicing elit</p>
                <button class="UBtn" type="button" routerLink="/Search">Get Started</button>
            </div>
        </div>
        <div class="col-12 col-md-7 ">
            <img src="../../../assets/images/mac.png" alt="mac" width="90%"> 
        </div>
    </div>
</div>
</section>
<section class="count container-fluid">
    <div class="row" style="height: inherit;">
        <div class="col-md-3 col-12 data">
            <div class="inner">
                <h6>100,000 online courses</h6>
                <span>Explore a variety of fresh topics</span>
            </div>
            
        </div>
        <div class="col-md-3 col-12 data dash">
            <div class="inner">
                <h6>6+ Lakhs active Users</h6>
                <span>Explore your skills</span>
            </div>
            
        </div>
        <div class="col-md-3 col-12 data dash">
            <div class="inner">
                <h6>Expert instruction</h6>
                <span>Find the right instructor for you</span>
            </div>
            
        </div>
        <div class="col-md-3 col-12 data dash">
            <div class="inner">
                <h6>Lifetime access</h6>
                <span>Learn on your schedule</span>
            </div>
           
        </div>
    </div>
</section>

<section class="how container-fluid">
    <div class="row">
        <div class="col-md-5">
            <h3>Simple and <span>User friendly</span> application which fits you</h3>
            <h6 class="label">HOW IT'S WORKS</h6>
        </div>
        <div class="col-md-7"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="works">
                <img class="svgImg" src=".././../../assets/images/dev.svg">
                <h6 class="text-center">Search learning requirement</h6>
                <p>Want to learn something? Just enter
                details such as subject or category,
                locality and preference.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="works">
                <img class="svgImg" src=".././../../assets/images/hire.svg">
                <h6 class="text-center">Compare & select the best</h6>
                <p>Once you get responses, you can
                    compare them and choose the ones that
                    fit your learning requirement.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="works">
                <img class="svgImg" src=".././../../assets/images/interaction.svg">
                <h6 class="text-center">Connect and start learn</h6>
                <p>Based on your requirement you will start
                    getting customised responses from tutors and
                    institutes.</p>
            </div>
        </div>
    </div>
</section>


<section class="instructor container-fluid">
    <img class="inImg" src="../../../assets/images/intructor.PNG" alt="intructor">
    <h3>Become an <span>Instructor</span></h3>
    <h4 class="label">Join <span>Learn Point</span> and connect with more than 25 Lakh users on the platform.Grow your network and earn.</h4>
    
    <div class="row">
        <div class="col-md-5 offset-md-7 inst">
            <div>
                <h5 class="text-center instHeadg">Discover your potential and Inspire students</h5>
                <p>Help people learn new skills, advance their careers, and explore their hobbies by sharing your knowledge, connect by individual or provide class.</p>
            </div>
        </div>
    </div>
</section>
<section class="instructor2 container-fluid">
    <div class="row">
        <div class="col-md-5 offset-md-7 inst">
            <div>
                <h5 class="text-center instHeadg">Earn money</h5>
                <p> Earn money every time a student purchases your course. Get paid monthly through PayPal or Payoneer, it’s your choice.</p>
                <button type="button" class="UBtn">Join</button>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>