// common css unit

$appColor:#2091eb;// #ffc107;
$lightWhite:#f8f9fa;
$height100:100vh;
$white:#ffffff;
$tenpx:10px;
$placeholderColor:#adb5bd;
$fontW300:300;
$font14:14px;
$black:#000;
$divBox:rgba(0, 0, 0, 0.1) 0px 3px 3px 0px;
$secondColor: #dee2e6;
$fontColor :#6c757d;
$small:12px;
